.card{
    display: inline-block;
    width: 12em;
    overflow: hidden;
    padding: 2em 1.5em;
    margin: 0.4em;
    box-shadow: 1px 1px 4px darkgreen;
    text-align: center;
    background: lightgrey;
    
}