
<div class="main-coainter">
  <ul class="nav">
    <li class="nav-bar"><a routerLink="/type-1" routerLinkActive="active">Question One</a></li>
    <li class="nav-bar"><a routerLink="/type-2" routerLinkActive="active">Question Two</a></li>
    <li class="nav-bar"><a routerLink="/type-3" routerLinkActive="active">Question Three</a></li>
    <li class="nav-bar"><a routerLink="/type-4" routerLinkActive="active">Question Four</a></li>
    <li class="nav-bar"><a routerLink="/type-5" routerLinkActive="active">Question Five</a></li>
    <li class="nav-bar"><a routerLink="/type-6" routerLinkActive="active">Question Six</a></li>
    <li class="nav-bar"><a routerLink="/type-7" routerLinkActive="active">Question Seven</a></li>
    <li class="nav-bar"><a routerLink="/type-8" routerLinkActive="active">Question Eight</a></li>
    <li class="nav-bar"><a routerLink="/type-9" routerLinkActive="active">Question Nine</a></li>
    <li class="nav-bar"><a routerLink="/type-10" routerLinkActive="active">Question Ten</a></li>
    <li class="nav-bar"><a routerLink="/type-11" routerLinkActive="active">Question Eleven</a></li>
    <li class="nav-bar"><a routerLink="/slicing" routerLinkActive="active">slicing</a></li>
  </ul>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</div>