<div class="slicing-container">
    <div class="blk nav-container">
            <img class="card" src="../../../assets/images/background1.png" />
        <nav class="nav-row">
            <ul>
                <li><a routerLink="/type-1" routerLinkActive="active">Question One</a></li>
                <li>Link Two</li>
                <li>Link Three</li>
            </ul>
        </nav>
    </div>

    <div class="blk blk-2 boldFont">
        Credit Opportunities With Good Applorval Odds <sup class="icon"> +</sup> 
    </div>

    <div class="blk blk-3 body-container">
        <div class="body-blk">
        <div class="title-row">
            <div class="title">
                    Barclaycard CashForwardTM World MasterCard<sup>TM</sup>
            </div>
            <div class="review">
                    3,252 Reviews
            </div>
        </div>
        <div class="body">
            <div class="body-blk-1">
                <div class="img">
                    <img class="card" src="../../../assets/images/visa.png" />
                </div>
                <div class="span-container">
                    <span>Approval Odds <sup>+</sup></span>
                    <span class="ok-cl">Verry Good</span>
                </div>            
            </div>
            <div class="body-blk-2">
                <ul>
                    <li>
                            Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.
                    </li>
                    <li>
                            Earn unlimited 1.5% cash rewards on every purcahse.
                    </li>
                    <li>
                            Earn unlimited 1.5% cash rewards on every...<a>show more</a>
                    </li>
                </ul>
            </div>
        </div>
    

        <div class="blk blk-4">
            <button class="btn btn-lg">Apply Now</button>
        </div>
    </div>
    <div class="blk blk-5">
            <a class="footer footer-link">See Details Rates & Fees</a>
    </div>
        
        </div>
    </div>
