.table-container{
    padding: 1em 0;
    
    .title {
        background: lightblue;
        padding: .75em;
    }
    table{
        width:100%;;
        border-collapse: collapse;
        color: #fff;
        thead{
            padding:.5em;
            background: blue;
            font-weight:bold;
            td {
                padding: .4em 2em;
            }
        }
        tbody{
            tr{
                &:hover {
                    background: lightblue;
                }
                td{
                    border: 1px solid #ddd;
                    border-width: 0px 0px 1px 0px;
                    color: #000;
                    padding: 0.4em 2em;
                    &:last-child{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}