.header {
    background: lightblue;
    padding: 1em;
}

ul.nav.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background: lightgrey;
    li.nav-item {
        margin-right: .1em;
        padding: .751em;
        a.nav-link {
            color: blue;
            text-decoration: none;
            font-weight: bold;
            
        }
        &:hover{
            background: gray;
        }
    }
}
.child-router{
    position: relative;
    height: 81%;
}